# Ignore everything
*

# Allow specific files
!main.py
!requirements.txt
!check_ffmpeg.py
!README.md
!.env.example
!.gitignore

# Environment Variables
.env
.env.local

# Ignore folders
data/
assets/
output/
venv/
__pycache__/
*.pyc
